* body {
  font-family: macho, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f6fbfc
}

#bg {
  background-image: url('/static/images/backgorund/birds.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


.navbar {
  background-color: #f55a45 !important;
}

.navbar.navbar-expand-md.navbar-light.bg-light a {
  color:white;
}

.register-page {
  display: flex;
  justify-content: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 163px;
  padding: 51px;
  background: rgba(0, 0, 0, 0.198);
  width: 35vw;
  border-radius: 31px;
}

.register-geral {

}

.vregister {
  background: white;
  margin: 35px;
  padding-bottom: 54vh;
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  margin-top: 35px;
}

.form-register {

}

.firstname {
  margin: 20px;
}

.lastname {
  margin-left: 20px;
  margin-top: 40px;
}

.city-form {
  margin-left: 20px;
  margin-top: 40px;
}

.state-form {
  margin-left: 20px;
  margin-top: 40px;
}

.email-form{
  margin-left: 20px;
  margin-top: 40px;
}

.pwd-form {
  margin-left: 20px;
  margin-top: 40px;
}

.submit-form{
  margin-top: 40px;
  margin-left: 20px;
}

.please-login {
  margin: 20px;

}

.vol-register {
  margin: 30px;
}

.inst-register {

}

.login-register {
  background-color: white;
  padding: 8px;
  border-radius: 11px;
}




button, select {
  height: 42px;
  width: 29.8vw
}




/* ---------- events cards ---------- */

.card{
  width: 20%;
  display: inline-block;
  box-shadow: 1px 1px 5px rgb(97, 90, 90);
  border-radius: 5px; 
  margin: 2%;
  max-width: 272px;
  min-width: 257px;
  max-height: 417px;
  }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title{
  text-align: center;
  padding: 10px;
}

.card h1 {
  font-style: normal;
  font-size: 30px;
}

.card p {
  margin-bottom: 0;
  margin-top: 0;
}

.des{
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* NEW CARDS */

/* .evt-env {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.card {
  display: grid;
  max-width: 306px;
  height: 483px;;
  grid-template-columns: 275px;
  grid-template-rows: 182px 250px;
  grid-template-areas: "image" "text";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 39%);
  text-align: center;

  transition: 0.5s ease;
  margin:30px;
  justify-content: center;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

#evt-img-card {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  overflow-wrap: break-word
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:15px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
} */


/* ---------- End of event cards ---------- */


/* to make a button-look link */
/* .animals {
font: bold 11px Arial;
text-decoration: none;
background-color: #e29898;
color: #333333;
padding: 5px 12px 5px 12px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
} */

.icons-causes {
display: flex;
flex-wrap: wrap;
height: 400px;
align-content: space-between;
}


html, body {
margin: 0;
width: 100%;
height: 100%;
}

.map,
#inst-map {
  width: 388px;
  height: 749px;
  float: left;
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

  
.maps,
#event-map {
  width: 388px;
  height: 749px;
  float: left;
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* HOMEPAGE */
/* About us box / tab / container */

 
.about-us {
  padding: 50px;
}

.container {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 404px;
  margin: auto;
  
}

.container .box {
  text-align: center;
  position: relative;
  width: 309px;
  height: 296px;
  float: left;
  margin: 39px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 378px;
}

.container .box .icon {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .box .icon .bi {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff
}

.container .box:hover .icon .bi {
  font-size: 40px;
}

.container .box .content {
  position: absolute;
  text-align: center;
  top: 95%;
  height: calc(100% - 95px);
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .box:hover .content {
  top: 95px;
  text-align: center;
  opacity: 1;
}

.container .box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color:#fff;
  font-size: 24px;
}

.container .box .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color:#fff;
}

.container .box:nth-child(1) .icon {
  background: #F9CE69;
}
.container .box:nth-child(1) {
  background: #4741A6;
}

.container .box:nth-child(2) .icon {
  background: #4741A6;
}
.container .box:nth-child(2) {
  background: #F9CE69;
}

.container .box:nth-child(3) .icon {
  background: #F9CE69;
}
.container .box:nth-child(3) {
  background: #4741A6;
}

/*  */

#homepage-vid {
  width: 100%;
  height: auto  !important;
}



#background-video {
  width: 100%   !important;
  height: auto  !important;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.text-video {
  position: absolute;
  right: 60px;
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-top: 61vh;
  opacity: 70%;
  background-color: #00000084;
}

#hp-pic{
  width: 100%   !important;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* CONTACT FORM */
.contact-us {

}


#contact {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: rgb(169, 122, 122);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}



/* ------------- vol profile page ---------------- */

.img-to-inst

#inst-into-cont {
  width: 100%   !important;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.vprofile-container {
  flex-direction: row;
  justify-content: space-around;
  background-image: url('/static/images/backgorund/vol-cont.png');
  background-repeat: no-repeat;
}


.vpic-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vprofile-info {
}

.vpic-div {
  justify-content: center;
}

img#vpic {
  border-radius: 50%;
  width: 250px;
  height: 250px;;
}

.name {
  margin: 20px;
}


.skills {
  display: flex;
  margin: 20px;
}

#skill-btn {
  display: flex;
}

.recommended-events {
}

#events-container {
}

.search-events {

}

.cards-container {

}


.react-btn {

}

.search-inputs {
  display: flex;
  margin-bottom: 20px;
}

.city-input {
 
}

.state-input {
  margin-left: 30px;
}

.cause-container {

}

.p-cause{
  margin-bottom: -38px;
}

.cause-btns {

}

/* ------------------------ inst profile page ------------- */

.inst-name {
  padding: 30px;

}
.img-to-inst {

}

.iprofile-container {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pic-container-inst {
  display: block;
  width: 46vw;
}


.pic-div-inst {
  justify-content: center;
  display: flex;
  padding: 30px;
  height: auto;
}

#pic {
  display: block;
  width: 80vw;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


.upload-pic {
  text-align: center;
  /* padding-bottom: 40px;
  padding-top:20px; */
}

.input {

}

.upload-button {

}

.inst-description {
  width: 45vw;
  float: left;
  height: 300px;
  text-align: justify;
}

.inst-desciption p {
  padding: 30px;
}

.about-inst {
  padding: 30px;
  width: 100vw;
  height: 70vw;
}

.about-map {
  width: 100vw;
}

.inst-map {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inst-addr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.events {
  padding: 30px;
    background-color: #ff4b339c;
    border-radius: 31px;
    margin: 20px;
}

.active-events {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

/* modal create a new event */
.modal {
  --bs-modal-width: 700px;
}

.modal-content {
  padding-left: 10px;
  padding-right: 10px;
  /* maybe use a backgound image */
}

.form-control, textarea {
  background-color: white;
  color: black;
  max-width: 700px;
}

textarea {
  width: 650px;
  height: 300px;
}

.col-form-label {
  display: flex;
  padding-top: 0;
}

.skills-modal-form {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 7px;
}
#evt_title {
  width: 650px;
}

#lang-select {
  padding: 3px;
  margin: 5px;
}

#evt_address {
  width: 650px;
}

/* end of modal */


.signed-up-events {
  padding: 30px;
}

.inst-rate {
  padding: 30px;
}

/* modal review inst */

.leave-comment {
  margin-bottom: 7px;
}

#rate-inst {
  margin: 10px;
  padding: 4px;;
}

.rate-btn {

}

.comment-inst-btn {
  
}

#comment-inst-btn {
  padding: 10px;
  margin: 40px;
}

#inst-comments-div {
  background-image: url('/static/images/backgorund/birds.jpg');
  background-repeat: no-repeat;
 
  background-size: cover;
}

#comment-container {
  padding-top: 20px;
}

.comment-block {
  margin-bottom: 30px;

}

.delete-btn {
  margin-top: -16px;
  margin-bottom: 36px;
}

#comment-volunteer-name {
  margin-bottom: 2px;
}

#inst-review {

}

#inst-comment {
  margin-left: 10px;
} 


/* --------------- event details page --------------- */

.evt-title {
  padding-left: 50px;
}

.evt-title p {
  margin-bottom: 0;
}

.evt-dates {

}


.evt-details {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #00000029;
  margin: 30px;
}

.evt-details-div {
  padding-top: 30px;
}

.evt-details-div p {
  margin-bottom: 6px;
}

.evt-skills {

}

.evt-skills p {
  margin-bottom: 0;
}

.evt-description {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 61vw;
}

.evt-pic {

}

#evt-pic {
  display: block;
  width: 41vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.pic-div-evt {
  width: 63vw;
}

.evt-map {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.evt-btns {
  padding: 30px;
}


/* ----------- all events page --------------- */

#search-video{
  width: 100%;
  height: auto  !important;
}

.all-evts-page {

}

#evt-video {
  width: 100%   !important;
  height: 58vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.search-text {

  right: 60px;
  color: rgba(255, 255, 255, 0.928);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-top: -5vh;
  opacity: 70%;
  background-color: #0000006f;
}


.evt-search {

}

.react-submit {
  width: 31vw;
  height: 4vh;
}

.evt-cards { 
  padding: 30px;
}