/* events cards */


.card{
    width: 20%;
    display: inline-block;
    box-shadow: 1px 1px 5px rgb(97, 90, 90);
    border-radius: 5px; 
    margin: 2%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title{

  text-align: center;
  padding: 10px;
  
}

h1{
  font-size: 20px;
}

.des{
  padding: 3px;
  text-align: center;

  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}


/* End of event cards */

.about-us {
    background-color: rgb(214, 159, 127);
    color: blueviolet;
}

/* to make a button-look link */
/* .animals {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #e29898;
  color: #333333;
  padding: 5px 12px 5px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
} */

.icons-causes {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}
    