{% extends 'base.html' %}
{% block head %}
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% endblock %}

{% block title %} All Events {% endblock %}


{% block body %}
<section class="evt-search">
   
    <div class="" id="search-video">
        <video id="evt-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
            <source src="/static/images/backgorund/pexels-anthony-shkraba-7475249.mp4" type="video/mp4">
        </video>
        <p class="search-text">Search for Volunteer Opportunities near you and help lives!</p>
    </div>


    <div class="evt-cards">
        <div id="all-events"></div>
    </div>
       
</section>

    <form action="/vol_profile">
        <button>Go back to your profile</button>
    </form>

 
</div>

<script src="/static/js/all-events-react.jsx" type="text/jsx"></script>
{% endblock %}