
<div class="search-containter">
    <h2>Find events</h2>
  
    <p>Select City:</p>
    <div class="form-location">
      <form action="/events" method="POST">
        <input type="text" name="city">
    </div>
  
    <p>Select State:</p>
    <div class="form-location">
      <form action="/events" method="POST">
        <input type="text" name="state">
    </div>
  
    <div class="form-cause">
      <p>Select cause</p>
      
        {% for cause in all_causes %}
      <form action="/events_search">
        <input name="cause" value="{{ cause.cause_id }}" hidden>
        <button name="{{ cause.cause_name }}" type="submit"> 
          <img src="{{ cause.cause_icon }}" height ="30" width="50" />
        </button>
        {%endfor%}
      </form> -->
    </div>
    
    <button type="submit" class="btn-find">Find</button>
    </form>
  </div>
  
  
  
  
    <h2>Find opportunities by causes:</h2>
    <div class="icons-causes">
      {% for cause in all_causes %}
  
      <form action="/events_search">
        <input name="type" value="{{ cause.cause_id}}" hidden>
        <button name="{{cause.cause_name}}" type="submit"> 
          <img src="{{cause.cause_icon}}" height ="50" width="70" />
        </button>
        {%endfor%}
      </form>
      
  </div>









  {% if volunteer in session %} 
  <!-- IF VOLUNTEER SELECTED SKILLS BEFORE, 
  SHOW THE SKILLS THEY HAVE -->
    <!-- SHOW  -->
    <p>Skills:</p>
    {% for skill in all_skills %}
      <p>{{skill.skill_title}}</p>
    {% endfor %}

    <!-- IF VOLUNTEER DOESNT HAVE SKILLS SELECTED
          SHOW THE FORM SO THEY CAN SELECT THE SKILLS -->    
  {% else %}  
    <form action="/select_skills" method="POST">
      <label for="lang-select">Select up to 3 skills: </label>
      <select name="skill1" id="lang-select">
        {% for skill in all_skills %}
        <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
        {% endfor %}
      </select>
      <select name="skill2" id="lang-select">
        {% for skill in all_skills %}
        <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
        {% endfor %}
      </select>
      <select name="skill3" id="lang-select">
        {% for skill in all_skills %}
        <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
        {% endfor %}
      </select>
      <button  class="button" type="submit"> Select skills</button>
      
    </form>
{ % endif %}