<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>
        {% block title %}{% endblock %}
        </title>

        {% block head %}{% endblock %}
    </head>
    <body>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <img class="nav-logo" src="/static/images/applogotest.png" height="28" alt="Name of the Project">
                </a>
                <button type="button" class="navbar-toggler hidden-md-up pull-right" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/#about-us" class="nav-item nav-link active"><b>About</b></a>
                        <a href="/#contact-us" class="nav-item nav-link"><b>Contact us</b></a>
                    </div>
                    
                    
                    {% if 'volunteer' in session %}
                    
                    <div class="navbar-nav ms-auto">
                        <!-- <a href="/all_inst" class="nav-item nav-link">All Institutions</a> -->
                        <a href="/all_events" class="nav-item nav-link"><b>Search Opportunities</b></a>
                        <a href="/vol_profile" class="nav-item nav-link"><b>Profile</b></a>
                        <a href="/logout" class="nav-item nav-link"><b>Logout</b></a>
                    </div>
                    
                    {% elif 'inst' in session %}

                    <div class="navbar-nav ms-auto">
                        <a href="/inst_profile/" class="nav-item nav-link"><b>Profile</b></a>
                        <a href="/logout" class="nav-item nav-link"><b>Logout</b></a>
                    </div>

                    {% else %}

                    <div class="navbar-nav ms-auto">
                        <a href="/login_page" class="nav-item nav-link"><b>Login</b></a>
                        <a href="/register" class="nav-item nav-link"><b>Register</b></a>
                    </div> 
          
                    {% endif %}                  
                </div>
            </div>
        </nav>




    
    </header>


    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

      
    <!-- FOOTER -->
    <div class="footer-dark">
        <footer>
            <div class="container" style="text-align: justify; height: 171px;">
                <div class="row">
                    <div class="logo-pic col-md-3 item">
                        <a href="/" class="navbar-brand">
                    <img class="nav-logo" src="/static/images/applogotest.png" height="28" alt="Name of the Project">
                </a>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>
