{% extends 'base.html' %}
{% block title %} {{event.evt_title}} {% endblock %}
{% block body %}
<section class="evt-title">
<h1 style="
padding-top: 20px;
padding-bottom: 10px;
"> {{ event.evt_title }} </h1>
    <div>
        {% if 'volunteer' in session %}
        <p>Institution:<a href="/inst_profile/{{event.inst.inst_id}}"> {{event.inst.inst_name}}</a></p>
        <p>Cause: {{cause.cause_title}}</p>
        {% elif 'inst' in session %}
        <p>Cause: {{institution.cause.cause_title}}</p>
        {% endif %}
    </div>    
</section>

<section class="evt-details">
    <div class="evt-details-div row col-8">
        <div class="evt-dates col-6">
            <p><b>When:</b> {{event.evt_date}}</p>
            <p><b>From </b>{{event.evt_start_time}},  <b>To</b> {{event.evt_end_time}}</p>
        </div>
            
        <div class="evt-skills col-6">
            <p><b>Skills:</b>
                {% for skill in event_skills %}
                <p>{{skill.skill_title}}</p>
                {% endfor %} 
            </p>
        </div>
    
        <div class="evt-description">
            <p> {{ event.evt_description }} </p>
        </div>

        <div class="evt-pic">
            <div class="pic-div-evt">
                <img id="evt-pic" src="{{ event.evt_pic }}">
            </div>

            <div class="upload-pic">
                {% if 'inst' in session %}
                <form action="/upload/{{event.event_id}}" method="POST" enctype="multipart/form-data">
                    <div class="input">
                    <input type="file" name="evt-pic">
                    </div>
                    <div class="upload-button">
                    <button class="button" type="submit"> Submit</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

    </div>    

    <div class="evt-map row col-4">
        <p><b>Event Address:</b> {{event.evt_address}}</p>
        <div id="{{ event.event_id }}" class="maps">
            <div id="event-map"></div>
        </div>
    </div>

</section>

<section class="evt-btns">    
    <div>
        {% if 'volunteer' in session %}
            {% if ( event_is_saved == false ) %}  
        <form action="/events/{{event.event_id}}/sign_up">    
            <button style="font-size: x-large;">Sign up for this event</button>
        </form>
        <form action="/vol_profile">
            <button style="font-size: x-large;">Go back to your profile</button>
        </form>    
            {% else %}
            <h2>You've already signed up for this event.</h2>
            <form action="/vol_profile">
                <button style="font-size: x-large;">Go back to your profile</button>
            </form>

            {% endif %}
        {% elif 'inst' in session %}
        <form action="/inst_profile/session[inst]">
            <button>Go back to your profile</button>
        </form>
        {% else %}
        <p>Login or Sign up to attend to this event!</p>

        {% endif %}
    
    </div>
</section>

<script src="/static/js/maps.js"></script>
<script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClU-Mhv9qzGPyKT4nFvI8MWkOvTuijj9k&callback=eventMap">
</script>

{% endblock %}

