{% extends 'base.html' %}

{% block title %} PROJECT APP HOMEPAGE {% endblock %}

{% block body %}

<!-- photo -->

<a href="/register">I WANT TO HELP!</a>
<p>Pictures, maybe in a carrossel</p>


<p>Find institutions near me button</p>
<p>use google maps to select a location?</p>


<div> 
    <h1>ABOUT</h1>

    <p>EXPLAINING HOW TO USE THE APP, AND BLABLABLABLA</p>
    
</div>
<div>
    <h1>CONTACT US<h1>
        
    <p>contact form</p>
</div>

<!--  -->

{% endblock %}