{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<section class="img js-fullheight" id="bg" style="background-image: url(/static/images/backgorund/Screenshot.png);">
    <section class="login-two row">
        <div class="volunteer-form col-6">
          <div class="text">VOLUNTEER
          <form action="/login" method="POST" class="signin-form">
            <div class="field">
              <!-- <span class="fa fa-user"></span> -->
              <input type="text" name="vemail" class="form-control" placeholder="Email" required>
            </div>
          
            <div class="field">
              <!-- <span class="fa fa-lock"></span> -->
              <input id="vpassword-field" type="password" placeholder="Password" name="vpassword">
            </div>
            <button type="submit" class="form-control btn btn-primary submit px-3" style="
            margin: 30px;
            width: 24vw;
            height: 54px;
        ">Sign In</button>
          </form>
          </div>
        </div>
            <!-- institution login -->
  
        <div class="inst-form  col-6">
          <div class="text">INSTITUTION LOGIN
          <form action="/login" method="POST" class="signin-form">
            <div class="field">
              <!-- <span class="fa fa-user"></span> -->
              <input type="text" name="iemail" class="form-control" placeholder="Email" required>
            </div>
          
            <div class="field">
              <!-- <span class="fa fa-lock"></span> -->
              <input id="ipassword-field" type="password" placeholder="Password" name="ipassword">
            </div>
            <button type="submit" class="form-control btn btn-primary submit px-3" style="
            margin: 30px;
            width: 24vw;
            height: 54px;
        ">Sign In</button>
          </form>
          </div>
        </div> 
      </section>  
</section>




{% endblock %}