{% extends 'base.html' %}

{% block title %} RegisterGE {% endblock %}

{% block body %}
<section class="img js-fullheight" id="bg" style="background-image: url(/static/images/backgorund/register.jpg); height: 72vh;">>

        <section class="register-page">
            <div class="register-container">
                <h2 style="
                color: white;
            ">Create an Account as:</h2>

                <div class="vol-register"><a href="/volu_register" class="btn btn-lg " style="
                    width: 336px; background: #4741a6; color: white;
                "><b>VOLUNTEER</b></a></div>
                <div class="inst-register"><a href="/inst_register" class="btn btn-lg" style="
                    width: 336px; background: #4741a6; color: white;
                "><b>INSTITUTION</b></a></div>
                <br>
                <div class="login-register"><a href="/login_page">I already have an account</a></div>
            </div>
        </section>




    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
</section>
{%endblock%}