{% extends 'base.html' %}

{% block title %} PROJECT APP HOMEPAGE {% endblock %}

{% block body %}

<h1 id="name">{{user.fullname}}'s Profile</h1>
<div class="profile">

<h3 id="info">Your Information</h3>
<img id="img" src="{{user.profile_photo}}">
<ul>
<li>Name: {{user.fullname}}</li>
<li>Email:{{user.email}}</li>
<li>Address: {{user.address}}</li>
</ul>
<form action="/upload_picture" method="post" enctype="multipart/form-data">
    <input type="file" name="dog_picture">
    <button  class="button" type="submit"> Submit</button>
</form>
<br>
<br>
<form action="/update_user">
    <h4>Update your Information</h4>
      <p>
        Fullname <input type="text" name="fullname">
      </p>

      <p>
        Address <input type="text" name="address">
      </p>

    <button class="button" type="submit"> Update user </button>

</form>

{% endblock %}