{% extends 'base.html' %}
{% block head %}
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% endblock %}

{% block title %} {{ volunteer.fname }} PROFILE {% endblock %}

{% block body %}

    
<h1 id="name" style="
padding: 30px 30px 0 30px;
"> Hi {{ volunteer.fname }}!</h1>
<div class="vprofile-container fwh-slide cover-main row">
    <div class="vpic-container col ">      
      <div class="vpic-div">
        <img id="vpic" src="{{ volunteer.v_pic }}">
      </div>
      <div class="upload-pic">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="volunteer-pic">
          <button  class="button" type="submit"> Submit</button>
        </form>
      </div>
    </div>  
    <div class="col" style="
    background-color: #ffffff94;
    padding-top: 30px;
">
      <div class="name">

          <p><b>Name:</b> {{ volunteer.fname}}</p>
          <p><b>Email:</b> {{ volunteer.v_email}}</p>
          <p><b>Location:</b> {{volunteer.v_city}}, {{volunteer.v_state}}</p>

      </div>
    </div>
    <div class="col" style="
    background-color: #ffffff94;
    padding-top: 30px;
">
      <div class="skills"> 
        <div class="skills-info">
          {% if 'volunteer' in session %} 
            {% if volunteer_skills %}
        
          <p><b>Skills:</b></p>
            <ul>
            {% for skill in volunteer_skills %}
            <li>{{skill.skill_title}}</li>
            {% endfor %}
            </ul>
          {% else %}
        </div>

        <div class="skill-form">
            <form action="/select_skills" method="POST">
              <label for="lang-select"><b>Select up to 3 skills: </b></label>
              <br>
              <select name="skill1" id="lang-select">
                <option value="" disabled selected>Select a skill</option>
                {% for skill in all_skills %}
                <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
                {% endfor %}
              </select>
              <select name="skill2" id="lang-select">
                <option value="" disabled selected>Select a skill</option>
                {% for skill in all_skills %}
                <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
                {% endfor %}
              </select>
              <select name="skill3" id="lang-select">
                <option value="" disabled selected>Select a skill</option>
                {% for skill in all_skills %}
                <option value="{{skill.skill_id}}">{{skill.skill_title}}</option>
                {% endfor %}
              </select>
              <button id="skill-btn" class="button" type="submit"> Select skills</button>         
            </form>
            {% endif %}
          {% endif %}
        </div>     
      </div> 
    </div>

</div>


<!-- default content for nav -->
<!-- <div class="signed-up-events">
  <h2> Events {{volunteer.fname}} Signed Up </h2>

  {% for event in my_events %}
    <div class="card">
      <div class="image">
      <img src=" {{event.evt_pic}}">
      </div>
      <div class="title">
      <h1>{{ event.evt_title}}</h1>
      </div>
      <div class="des">
      <p> <b>When:</b> {{ event.evt_date }} </p>
      <p><b> Where: </b>{{ event.evt_city }}</p>
      <a href="/events/{{event.event_id}}">
        <button>More details</button>
      </a>
      </div>
    </div>
  {% endfor %}
</div>

</div> -->
<!-- end of default -->



<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')"  id="defaultOpen">Events {{volunteer.fname}} Signed Up </button>
  <button class="tablinks" onclick="openCity(event, 'Paris')" style="margin-left: 61px;">Recommended Events</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')" style="margin-left: 61px;">Search Events</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <div class="signed-up-events">
    <h2> Events {{volunteer.fname}} Signed Up </h2>
  
    {% for event in my_events %}
      <div class="card">
        <div class="image">
        <img src=" {{event.evt_pic}}">
        </div>
        <div class="title">
        <h1>{{ event.evt_title}}</h1>
        </div>
        <div class="des">
        <p> <b>When:</b> {{ event.evt_date }} </p>
        <p><b> Where: </b>{{ event.evt_city }}</p>
        <a href="/events/{{event.event_id}}">
          <button>More details</button>
        </a>
        </div>
      </div>
    {% endfor %}
  </div>
  
  </div>
</div>

<div id="Paris" class="tabcontent">
    <div class="recommended-events">
      <h2>Recommended events:</h2>
      <p> These events were picked for you based on your location (Denver, Colorado) and your selected skills.</p>
      <div id="recommended-events"></div>
    </div>
</div>

<div id="Tokyo" class="tabcontent">
  <div class="search-events">
    <h2> Search for events by:</h2>
    <p> Search every event in whatever city you want, and you can also choose by the cause of the event.</p>
    <div id="events-container"></div>
  </div>
</div>













<!-- <div class="events">
  <div class="recommended-events">
    <h2 style="font-size: large;">Recommended events:</h2>
    <div id="recommended-events"></div>
  </div>

  <div class="search-events">
    <h2> Search for events by:</h2>
    <div id="events-container"></div>
  </div>
  
</div> -->


<script src="/static/js/tab-vol.js"></script>
<script src="/static/js/cards-react.jsx" type="text/jsx"></script>

{% endblock %} 